body {
  font-family: 'NunitoSans';
}

@font-face {
  font-family: 'NunitoSans';
  src: local('NunitoSans'), url(./fonts/NunitoSans-Regular.ttf) format('truetype');
}

.container {
  position: relative;
  display: flex;
}

.col {
  width: 50%;
  float: left;
}

.footer {
  padding: 30px;
  text-align: center;
}